<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %m%n</pattern>
    </encoder>
  </appender>

  <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
      <appender-ref ref="console"/>
        <queueSize>10000</queueSize>
      <maxFlushTime>5000</maxFlushTime>
    <neverBlock>true</neverBlock>
  </appender>

  <logger name="org.rooftop.netx.logger.warn" level="warn"/>

  <logger name="org.rooftop.netx.logger.info" level="info"/>

  <root level="off">
    <appender-ref ref="async"/>
  </root>
</configuration>
